<% stylesheet_link_tag "home.css" %>

<!-- HEADER -->
<header>
    <!-- Assume user is signed in and profile selected for now -->
    <h1>Hey <%= "Eoin" =%></h1>
</header>

<!-- MAIN -->
<main>
    <section class="section-heading">
        <a class="app-select_btn" href="shopping-list">Shopping List</a>
    </section>

    <section class="section-heading">
        <a class="app-select_btn" href="calendar">Calendar</a>
    </section>

    <section class="section-heading">
        <a class="app-select_btn" href="to-do-list">To-Do list</a>
    </section>
</main>
