<% stylesheet_link_tag "home.css" %>

<!-- HEADER -->
<header>
    <!-- Assume user is signed in and profile selected for now -->
    <h1>Hey <%= "Eoin" =%></h1>
</header>

<!-- MAIN -->
<main>
    <section class="section-heading">
        <button class="app-select_btn">Shopping List</button>
    </section>

    <section class="section-heading">
        <button class="app-select_btn">Calendar</button>
    </section>

    <section class="section-heading">
        <button class="app-select_btn">To-Do list</button>
    </section>
</main>
