<% stylesheet_link_tag "home.css" %>

<!-- HEADER -->
<header>
    <!-- Assume user is signed in and profile selected for now -->
    <h1>Hey <%= @account.name =%></h1>
</header>

<!-- MAIN -->
<main>
    <div class="app-selector">
        <div class="app-select-btn">
            <a href="shopping-list">Shopping List</a>
        </div>

        <div class="app-select-btn">
            <a href="calendar">Calendar</a>
        </div>

        <div class="app-select-btn">
            <a href="to-do-list">To-Do list</a>
        </div>
    </div>
</main>
